<app-a-nav></app-a-nav>
<div class="crow">

<div class="container">
<div class="total">
<div class="ptitle">Total tickets</div>
<div class="pnumber">{{total}}</div>
</div>

<div class="row">

  <div class="child">
    <div class="ctitle">Todo</div>
    <div class="cnumber">{{ttodo}}</div>
  </div>

  <div class="child">
    <div class="ctitle">Doing</div>
    <div class="cnumber">{{tdoing}}</div>
  </div>

  <div class="child">
    <div class="ctitle">Done</div>
  <div class="cnumber">{{tdone}}</div>
  </div>

</div>
</div>
<div class="container">
  <div class="total">
    <div class="ptitle">Assigned tickets</div>
    <div class="pnumber">{{assigned}}</div>
  </div>

  <div class="row">

    <div class="child">
      <div class="ctitle">Todo</div>
      <div class="cnumber">{{todo}}</div>
    </div>

    <div class="child">
      <div class="ctitle">Doing</div>
      <div class="cnumber">{{doing}}</div>
    </div>

    <div class="child">
      <div class="ctitle">Done</div>
      <div class="cnumber">{{done}}</div>
    </div>

  </div>
</div>
</div>
