
.container{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
  padding: 15px;
  width:310px;
  background-color: rgb(59, 59, 59);
  border-radius: 15px;
}
.crow{
  position: absolute;
  display: flex;
  justify-content: start;
  justify-items: start;
}

.child{
  width: 100px;
margin-top: 10px;
}

.ptitle{
  color: antiquewhite;
  font-size: 25px;
  font-weight: 500;
}

.pnumber{
  color: rgb(111, 126, 235);
  font-size: 30px;
  margin-left: auto;
  width: 100%;
  font-weight: 600;
}
.ctitle{
  color: antiquewhite;
    font-size: 20px;
    font-weight: 500;
}
.cnumber {
  color: rgb(111, 126, 235);
  font-size: 25px;
  margin-left: auto;
  width: 100%;
  font-weight: 600;
}
