<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 tnav">
  <div class="container-fluid">
    <a class="navbar-brand">TRELLO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2" aria-current="page" href="/dash">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/kanban">Kanban board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 nlink" (click)="onLogout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!--
  <div class="area"></div>
  <nav class="main-menu">
    <ul>
      <li>
        <a href="/dash">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-globe fa-2x"></i>
          <span class="nav-text">
            Kanban board
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-comments fa-2x"></i>
          <span class="nav-text">
            Group Hub Forums
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-camera-retro fa-2x"></i>
          <span class="nav-text">
            Survey Photos
          </span>
        </a>

      </li>
      <li>
        <a href="#">
          <i class="fa fa-film fa-2x"></i>
          <span class="nav-text">
            Surveying Tutorials
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-book fa-2x"></i>
          <span class="nav-text">
            Surveying Jobs
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cogs fa-2x"></i>
          <span class="nav-text">
            Tools & Resources
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-map-marker fa-2x"></i>
          <span class="nav-text">
            Member Map
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
            Documentation
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text" (click)="onLogout()">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
 -->
